@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

.navbar h1 {
  font-size: 3rem;
}
