@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: block;
  text-align: center;
  background: #d9d9d9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.navbar h1 {
  padding-top: 10px;
  font-size: 3rem;
}

.btn {
  font-family: 'Inter', sans-serif;
  border-radius: 3px;
  border-width: 0;
  background-color: #0671e0;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px #333;
}

.btn:hover {
  background-color: #218dfc;
}

.btn:disabled {
  background-color: #616060;
  box-shadow: inset 2px 2px 5px #333;
}

.form-group, .select-group {
  padding: 20px;
  font-size: 1.5rem;
}

.form-group input, .select-group select, .form-group textarea {
  padding: 10px;
  border-style: none;
  border-radius: 3px;
  background-color: #eef5fc;
  width: 60%;
}

.form-group input::placeholder, .select-group select::placeholder {
  font-family: 'Inter', sans-serif;
}

.select-group option {
  background-color: #eef5fc;
}
